@inject NavigationManager NavigationManager
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (context.User.Identity!.IsAuthenticated == false)
                        {
                            NavigationManager.NavigateTo("/login");
                        }
                        else
                        {
                            <p class="alert alert-danger">No esta autorizado para ver esta pagina</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Error 404 - Pagina no encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lamentamos lo sucedido, no se encontro la pagina.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
